/* h1{
    color: red;
    background-color: greenyellow;
    border: 10px solid purple;
} */

/* 
h1{
    color:rgb(4, 255, 247);
} */

/* h1{
    color:#00f;  
} */

/* h1{
    color: hsl(305, 95%, 50%);
} */
/* 
h1{
    color: hsla(305, 95%, 50%,20%);
}  */